    header {
    text-align: center;
    padding-left:800px;
    padding-right: 900px;
    padding-top: 1cm;
    background-clip: content-box;
    background-color: #fffafac2;
    align-items: center;
    
}

header img{
   max-width: 6cm;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    background-color: #60b92550;

}

.re{
    padding-left: 0.5cm;
}

.objetivos{
    display: block;
    block-size: 3cm;
    padding-top: 1.2cm;   
    padding: 0.5cm;
  
}

.problemas{
    display: block;
    block-size: 10cm;   
    padding-left: 0.5cm;
    padding-top: 1.9cm;
    
}

.p1{
    padding-inline-start: 5px;
    margin-block-start: 0.5em;
    
}

.problematicas-header{
    padding-top: 1cm;
}

.problematicas{
    padding-top: 3cm;

}

.Tecnologias{
    padding-top: 0.8cm;
    background-color: gray;
}

footer{
    display: flex;
    justify-content: space-around;        
    background-color: #818181b2;
    padding: 20px 0;

}
.bloque{
    flex: 1;
    padding: 0 20px;
}


.img2{
    width: 658px;
    height: 500px;
}

.img1{
    width: 500px;
    height: 500px;
}

